.logo {
    width: 20vw;
    height: 100%;
    margin-left: 3vw;
    //height: 4em;
}
.title {
    font-size: 1.5em;
    margin: auto 0 auto 15px;
    //margin: 0 0 15px 0;
    
    //font-family: ;
}
.headercontainer {
    margin: auto 5px;
    grid-area: header;
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
header {
    padding: 20px;
    background-color: #2C514C;
    color: #C0E2DF; 
    font-family: 'Ubuntu', sans-serif;
}
@media (min-width: 600px) {
    .logo {
        width: 13vw;
    }
}
@media (min-width: 1000px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "header nav nav nav"; 
    }
    .title {
        margin: auto auto auto 20px;
    }
    .logo {
        width: 9vw;
    }
}
