@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Indie+Flower|Jua|Lobster|Manuale|Nunito|Nunito+Sans|Pacifico|Quicksand|Shadows+Into+Light|Titillium+Web|Ubuntu');
* {
  margin: 0;
  overflow-x: hidden;
}
html {
  background: #C0E2DF;
}
.current {
    color: green;
  }

// Body layout Styles

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "leftcol content content"
}

.content {
  grid-area: content;
}
.leftcol {
  grid-area: leftcol;
}
