@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Indie+Flower|Jua|Lobster|Manuale|Nunito|Nunito+Sans|Pacifico|Quicksand|Shadows+Into+Light|Titillium+Web|Ubuntu');
* {
  margin: 0;
}
html {
  background: #C0E2DF;
}
.current {
    color: green;
  }
