.menuLabel {
    grid-area: label;
}
.navigation { 
    transition: right .5s ease-in-out; 
    a {
        text-decoration: none;
        font-size: 26px;
        font-family: 'Quicksand', sans-serif;
        color: rgb(29, 250, 0);
        margin: 0 10px 10px 10px;
    }
    a:hover{
        color: #6475c0;
    }
    a::after {
        content: '';
        display: block;
        margin-left: -5px;
        padding-right: 10px;
        border-radius: 1px;
        width: 100%;
        height: 3px;
        background-color: rgb(29, 250, 0);
    }
    a:hover::after{
        background-color: #6475c0;
    }
}
@media (max-width: 1000px){
    .menuLabel {
        margin: auto 0;
    
        .menuInput:checked + .navigation {
            left: initial;
            right: 0;
        }
        .menuInput:checked + .navigation::before {
            transform: rotate(90deg);
        }
        .navigation::before {
            content: '@';
            transition: transform .2s ease-in-out;
            position: fixed;
            right: 10px;
            top: 10px;
            font-size: 30px;
        }
        .menuInput {
            display: none; 
            position: absolute; 
        }
        .menuIcon {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 30px;
        }
    }

    .navigation {
        position: absolute;
        //left: 101vw;
        right: -350px;
        //width: max-content;
        max-width: 300px;
        background-color: #52706C;
        padding: 0 0 0 10px;
        border-radius: 3px 0 0 3px;

    }
}
@media (min-width: 1000px){
    .menuInput, .menuIcon {
        display: none;
        position: absolute;
    }
    .navigation {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto 0;
    }
}