.navigation {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    a {
        text-decoration: none;
        font-size: 26px;
        font-family: 'Quicksand', sans-serif;
        color: #434A42;
        margin: 0 10px 10px 10px;
    }
    a:hover {
        color: #6475c0;
    }
}