.navigation { 
    grid-area: nav;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto 0;
    a {
        text-decoration: none;
        font-size: 26px;
        font-family: 'Quicksand', sans-serif;
        color: rgb(29, 250, 0);
        margin: 0 10px 10px 10px;
    }
    a:hover {
        color: #6475c0;
    }
}