<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, height=device-height">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/Vef-Lokaverkefni/assets/css/style.css">
    <script src="/Vef-Lokaverkefni/assets/js/main.js"></script>
  </head>
  <body>
    <header>
      {% include header.html %}
      {% include navigation.html %}
    </header>
    <div class="body">
    <div class="leftcol">
    {% include leftcol.html %}
    </div>
    <div class="content">
    {{ content }}
    </div>
  </div> 
  </body>
</html>